*{
    box-sizing: border-box;
}

#top{
    width: 95vw;
    border: 3px black solid;
    height: 200px;
    margin: 20px;
    position: relative;

}

#middle{
    width: 95vw;
    border: 3px black dotted;
    height: 200px;
    margin: 20px;
    position: relative;


}

#bottom{
   
    width: 30vw;
    box-shadow: 5px 5px gray;
    border: 2px gray solid;
    height: 200px;
    margin: auto;
    position: center;
    text-align: center;
    font-size: 30px;
    letter-spacing:5px;
    padding-top: 50px;
}

#box1{
    height: 150px;
    width: 50px;
    background: purple;
    margin: 35px 0 8px 8px;
}

#box2{
    height: 180px;
    width: 25vw;
    background: green;
   position: absolute;
   bottom:8px;
   left: 100px;


}
#box3{
    border-radius: 50%;
    background: turquoise;
    height: 180px;
    width: 180px;
    position: absolute;
    left: 500px;
    bottom: 8px;
}

#box4{
    width: 90vw;
    box-shadow: 10px 10px;
    height: 150px;
    margin: 20px;
    background: lightgoldenrodyellow;
    position: absolute;
    bottom: 5px;

}